body {
  background-color: #ffff99;
  width: 100%;
  font-size: 1.25em; /*20 px*/
  line-height: 1.5em; /*30px*/
  padding-bottom: 1.165em;
}

#main {
  margin-left: auto;
  margin-right: auto;
  border: 5px inset#8B008B;
  font-family: 'Indie Flower', cursive; 
  text-align: center;
  background-color: ivory;
  font-size: 20px; /*Equal to 1.25em or 15pt*/
  line-height: 1.2em; /*Equal to 120% or 24px*/
}

h2.red {
	text-align: center;
	color:silver;
	font-size: 24px; /*Equal to 1 em or 17pt*/
	line-height: 1.043em; /*Equal to 24px or 104.3%*/
	text-decoration: underline;
	font-family: 'Amatic SC', cursive;
}

.container {
  position: relative;
  margin-bottom: 5px;
  margin-top: 5px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Teko', sans-serif;
  font-size: 16px; /*Equal to 1em*/
  line-height: 1.2em; /*Equal to 120%*/
}

@media only screen and (min-width: 800px) {
  #main {
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
	border: 5px inset#8B008B;
	font-family: 'Indie Flower', cursive; 
	text-align: center;
	background-color: ivory;
  }

  body {
	background-color: #ffff99;
  }

  h2.red {
	text-align: center;
	color: silver;
	font-size: 23px; /*Equal to 1.25em or 17pt*/
	line-height: 1.043em; /*Equal to 24px or 104.3%*/
	text-decoration: underline;
	padding: 5px;
	font-family: 'Amatic SC', cursive;
  }

  h4.cabeca {
	font-family: 'Sansita Swashed', cursive;
  }

  label {
	display: inline;
  }

  label,
  input {
	margin: 5px;
  }

  input [type=submit] {
	color:black;
	padding: 10px 25px;
	text-align: center;
	display: inline-block;
	font-size: 20px; /*Equal to 1em or 15pt*/
	line-height: 1.1em; /* Equal to 22 px or 110%*/
	margin: 4px 2px;
	background: #ADFF2F;
	font-family: 'Sansita Swashed', cursive;
  }

  .container {
	position: relative;
	margin-bottom: 5px;
	margin-top: 5px;
	cursor: pointer;
	font-size: 16px; /*Eqal to 1 em or 12 pt*/
	line-height: 1.25em;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Teko', sans-serif;
  }

  .checkmark {
	top: 0;
	left: 0;
	height: 9px;
	width:9px;
  }

  .radio{
	height: 9px;
	width: 9px
  }
}

@media only screen and (min-width:560px) {
  body {
	background-color: #ffff99;
  }

  #main {
	width: 125%;
	margin-left: auto;
	margin-right: auto;
	border:5px inset#E6E6FA;
	font-family: 'Indie Flower', cursive;
	text-align: center;
	background-color: ivory;
  }

  h2.red {
	text-align: center;
	color: silver;
	font-size: 38px; /*Equal to 2.375em or 17pt*/
	line-height: 1.050em; /*Equal to 42px*/
	text-decoration: underline;
	padding: 30px;
	font-family: 'Amatic SC', cursive;
  }

  h4.cabeca {
	font-family: 'Sansita Swashed', cursive;
	font-size: 18px; /*Equal to 1.125 em or 14pt*/
	line-height: 1.167em;/*Equal to 21px*/
	padding-top: 20px;
	padding-bottom: 15px;
  }

  label {
	display: inline;
  }

  label,
  input {
	margin: 16px;
  }

  input[type=submit] {
	color: black;
	padding: 10px 25px;
	text-align: center;
	display: inline-block;
	font-size: 20px;
	margin: 4px 2px;
	background: #ADFF2F;
	font-family: 'Sansita Swashed', cursive;
  }

  .container {
	position: relative;
	margin-bottom: 5px;
	margin-top: 5px;
	cursor: pointer;
	font-size: 13px;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Teko', sans-serif;
	font-size: 17px;
  }

  .checkmark {
	top:0;
	left:0;
	height: 9px;
	width: 9px;
  }

  .radio{
	height: 9px;
	width: 9px;
  }

  input[type=submit] {
	display: inline-block;
	font-size: 20px;
	font-family: 'Teko', sans-serif;
  }
}